#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.header {
  color: black;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.allarticles {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.allarticles a {
  text-decoration: none;
  color: inherit;
  display: block;
}
.allarticles a:hover {
  text-decoration: none;
  color: inherit;
}

.articlecard {
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  gap: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
  cursor: pointer;
}

.articlecard:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  background-color: #f0f8ff;
}

.image {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  object-fit: cover;
}

.article-info {
  flex: 1;
}

.name {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: #333;
}

.author {
  font-size: 1rem;
  color: #777;
  margin-bottom: 5px;
}
.allcomments {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.commentcard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: whitesmoke;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  gap: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
  cursor: pointer;
}

.commentbody {
  font-size: 1rem;
  color: #333;
  margin-bottom: 10px;
}

.commentauthor {
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 5px;
}

.votes {
  font-size: 0.9rem;
  color: #555;
  font-weight: 600;
}
