#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  color: black;
}

.articlecard {
  display: grid;
  grid-template-areas:
    "name"
    "image"
    "author";

  background-color: whitesmoke;
  border-radius: 5px;
  padding: 15px;
  place-content: center;
  margin: 14px;
  box-shadow: 0px 0px 20px 0px rgb(232, 229, 226);
  height: 300px;
  width: 200px;
  max-width: 300px;
  max-height: 300px;
}
.image {
  height: 200px;
  width: 200px;

  border-radius: 3px;

  place-items: center;
  max-width: auto;
}
.name {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  display: flex;

  letter-spacing: -0.5px;

  place-content: center;
}

.allarticles {
  background-color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  place-content: center;
}
